* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#e2ebf1, #008ca1);
  font-family: sans-serif;
  color: #e2ebf1;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location .temperature-description,
.temperature .temperature-description,
.temperature-current {
  font-size: 30px;
}

.location.temperature,
.temperature.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

span {
  font-size: 22px;
}

.temperature-item {
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  width: 180px;
}
.temperature-item h2 {
  font-size: 25px;
}
.day-time {
  width: 100%;
}
.deg {
  text-align: center;
  margin: auto;
  display: flex;
}

@media (max-width: 1450px) {
  .temperature-item {
    width: 50%;
    margin-top: 50px;
  }
}

@media (max-width: 750px) {
  .degree-section {
    flex-direction: column;
    margin-top: 0;
  }
  .temperature-item {
    width: 50%;
    margin-top: 20px;
  }
  .temperature-description {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .location,
  .temperature {
    width: auto;
    height: auto;
  }
}

